<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="google" content="notranslate" />
    <title>Flight Log . {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="Shortcut Icon" href="{{ STATIC_URL }}/img/favicon.ico" type="image/x-icon" />

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    {% block additional_styles %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <style type="text/css"></style></head>

  <body>

    {% block navigation %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% block navigation_live %}{% endblock %}><a href="/live.html">Live Ranking</a></li>
              <li {% block navigation_ranking %}{% endblock %}><a href="/ranking.html">Official Ranking</a></li>
              <li {% block navigation_chart %}{% endblock %}><a href="/chart.html">Ranking Evolution</a></li>
              <li class="divider-vertical"></li>
              <li {% block navigation_log %}{% endblock %}><a href="/flightlog.html">Flight List</a></li>
              <li {% block navigation_overview %}{% endblock %}><a href="/overview.html">Overview</a></li>
              <li class="divider-vertical"></li>
              <li><a href="/admin/">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}

    <div class="container">
        {% block content_header %}
            <div class="page-header">
                <h1>{% block content_page_header %}{% endblock %}</h1>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.tablesorter.min.js"></script>
    {% block additional_js %}{% endblock %}

</body><link rel="stylesheet" type="text/css" href="data:text/css,"></html>
