{% extends "flightlog/base.html" %}

{% block title %}Landings Evolution{% endblock %}

{% block additional_styles %}
    <link href="{{ STATIC_URL }}chart/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <!-- script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script -->
{% endblock %}

{% block navigation_chart %}class="active"{% endblock %}

{% block content_page_header %}
Landings Evolution
{% endblock %}

{% block content %}
<style>
    
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    
    .x.axis path {
        display: none;
    }
    
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    
    </style>

	<div class="span12 offset0 pagination-centered">
		<div id="chart"></div>
		<script src="{{ STATIC_URL }}chart/chart2.js" type="text/javascript"></script>
    </div>
</div>

<div id="viz"></div>
<script type="text/javascript">
   
   var sampleSVG = d3.select("#viz")
   .append("svg")
   .attr("width", 100)
   .attr("height", 100);
   
   sampleSVG.append("circle")
   .style("stroke", "gray")
   .style("fill", "white")
   .attr("r", 40)
   .attr("cx", 50)
   .attr("cy", 50)
   .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
   .on("mouseout", function(){d3.select(this).style("fill", "white");})
   .on("mousedown", animateFirstStep);
   
   function animateFirstStep(){
      d3.select(this)
      .transition()
      .delay(0)
      .duration(1000)
      .attr("r", 10)
      .each("end", animateSecondStep);
   };
   
   function animateSecondStep(){
      d3.select(this)
      .transition()
      .duration(1000)
      .attr("r", 40);
   };
   
   </script>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}d3js/d3.v2.min.js"></script>
{% endblock %}
