{% extends "flightlog/base.html" %}

{% block title %}Flight Log{% endblock %}

{% block navigation_log %}class="active"{% endblock %}

{% block content_page_header %}Flight Log{% endblock %}

{% block content %}

<div class="span10 offset0">
   {% if games_list %}
   <table id="myTable" class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th><a href="flightlog.html?sort=date">Date </a></th>
            <th><a href="flightlog.html?sort=aircraft__model">Aircraft </a></th>
            <th><a href="flightlog.html?sort=aircraft__registration">Registration </a></th>
            <th><a href="flightlog.html?sort=fromAirport">From</a></th>
            <th><a href="flightlog.html?sort=toAirport">To</a></th>
            <th><a href="flightlog.html?sort=flight_time">Flight Time </a></th>
            <th><a href="flightlog.html?sort=pic">PIC </a></th>
            <th><a href="flightlog.html?sort=landings">Landings </a></th>
            <th><a href="flightlog.html?sort=remark">Remark </a></th>
         </tr>
      </thead>
      <tbody>
         {% for flight in games_list %}
         <tr>
            <td>{{ flight.date|date:"d.m.Y" }}</td>
            <td>{{ flight.aircraft.get_model_display }}</td>
            <td>{{ flight.aircraft.get_registration_display }}</td>
            <td>{{ flight.fromAirport }}</td>
            <td>{{ flight.toAirport }}</td>
            <td>{{ flight.flightTimeFormatted}}</td>
            <td>{{ flight.pic}}</td>
            <td>{{ flight.landings }}</td>
            <td>{{ flight.remark}}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   {% if date_title %}
   <p>This player did not participate during {{ date_title|lower }}.</p>
   {% else %}
   <p>No games are available for this player.</p>
   {% endif %}
   {% endif %}
   

   {% if games_list.paginator.num_pages > 1 %}
   
    <div class="pagination pagination-centered">
    <ul>
    {% if games_list.has_previous %}
    <li><a href="flightlog.html?page=1"><i class="icon-fast-backward"></i></a></li>
    <li><a href="flightlog.html?page={{ games_list.previous_page_number }}"><i class="icon-backward"></i></a></li>
    {% else %}
    <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-fast-backward"></i></a></li>
    <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-backward"></i></a></li>
    {% endif %}
    
    {% for page in displayed_pages %}
    {% if page == games_list.number %}
    <li class="active"><a href="flightlog.html?page={{ page }}">{{ page }}</a></li>
    {% else %}
    <li><a href="flightlog.html?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    
    {% if games_list.has_next %}
    <li><a href="flightlog.html?page={{ games_list.next_page_number }}"><i class="icon-forward"></i></a></li>
    <li><a href="flightlog.html?page={{ games_list.paginator.num_pages }}"><i class="icon-fast-forward"></i></a></li>
    {% else %}
    <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-forward"></i></a></li>
    <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-fast-forward"></i></a></li>
    {% endif %}
    </ul>
    </div>
    
   <!--
   <div class="pagination pagination-centered">
      <ul>
         {% if games_list.has_previous %}
         <li><a href="flightlog.html?page=1"><i class="icon-fast-backward"></i></a></li>
         <li><a href="flightlog.html?page={{ games_list.previous_page_number }}{{ page_query_suffix }}{{ranking_query}}"><i class="icon-backward"></i></a></li>
         {% else %}
         <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-fast-backward"></i></a></li>
         <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-backward"></i></a></li>
         {% endif %}
         
         {% for page in displayed_pages %}
         {% if page == games_list.number %}
         <li class="active"><a href="flightlog.html?page={{ page }}">{{ page }}</a></li>
         {% else %}
         <li><a href="flightlog.html?page={{ page }}">{{ page }}</a></li>
         {% endif %}
         {% endfor %}
         
         {% if games_list.has_next %}
         <li><a href="flightlog.html?page={{ games_list.next_page_number }}"><i class="icon-forward"></i></a></li>
         <li><a href="flightlog.html?page={{ games_list.paginator.num_pages }}"><i class="icon-fast-forward"></i></a></li>
         {% else %}
         <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-forward"></i></a></li>
         <li class="disabled"><a href="flightlog.html?page={{ games_list.number }}"><i class="icon-fast-forward"></i></a></li>
         {% endif %}
      </ul>
   </div>
    -->
   {% endif %}
</div>
</div>

{% endblock %}
