{% extends "flightlog/base.html" %}

{% block title %}Overview{% endblock %}

{% block navigation_overview %}class="active"{% endblock %}

{% block content_page_header %}Overview{% endblock %}

{% block content %}

<div class="span9 offset0">
   <p class="lead">Until Exp  <a href="#" class="icon-play-circle"> </a></p>
   <div class="pagination-centered">
      <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
            <th style="text-align:center">Landings</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ flight_time_exp }}</td>
            <td style="text-align:center">{{ flight_time_pic_exp}}</td>
            <td style="text-align:center">{{ flight_time_dual_exp}}</td>
            <td style="text-align:center">{{ landings_exp}}</td>
         </tr>
      </tbody>
   </table>
</div>
</div>


<div class="span9 offset0  ">
<div class="page-header"></div>
   <p class="lead">{{ current }}</p>
   

<ul class="nav nav-pills">
    <li class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" id="dLabel" role="button" href="#">
            Select year...
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for year in range %}
                <li><a href="/overview/{{ year }}/"> {{ year }} </a></li>
            {% endfor %}
        </ul>
    </li>
    {% if nextRankingId %}
        <li class="pull-left"><a href="/ranking/{{nextRankingId}}/">{{nextRankingName}} &rarr;</a></li>
    {% else %}
        <li class="pull-left disabled"><a href="#">Next Week &rarr;</a></li>
    {% endif %}
    {% if prevRankingId %}
        <li class="pull-left"><a href="/ranking/{{prevRankingId}}/">&larr; {{prevRankingName}}</a></li>
    {% endif %}
</ul>


   <div class="pagination-centered">
   <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
            <th style="text-align:center">Landings</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ flight_time_y }}</td>
            <td style="text-align:center">{{ flight_time_pic_y}}</td>
            <td style="text-align:center">{{ flight_time_dual_y}}</td>
            <td style="text-align:center">{{ landings_y}}</td>
         </tr>
      </tbody>
   </table>
</div>
   </div>


   
<div class="span9 offset0">
          <div class="page-header"></div>
    <p class="lead">TOTAL</p>
   <div class="pagination-centered">
   <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
            <th style="text-align:center">Landings</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ tot_flight_time }}</td>
            <td style="text-align:center">{{ flight_time_pic}}</td>
            <td style="text-align:center">{{ flight_time_dual}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
         </tr>
      </tbody>
   </table>
</div>
   </div>

</div>
{% endblock content%}
