{% extends "flightlog/base.html" %}

{% block title %}Overview{% endblock %}

{% block navigation_overview %}class="active"{% endblock %}

{% block content_page_header %}Overview{% endblock %}

{% block content %}

<div class="span9 offset0">
   <p class="lead">PAST MONTH  <a href="#" class="icon-play-circle"> </a></p>
   <div class="pagination-centered">
      <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">Landings</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ flight_time_1m }}</td>
            <td style="text-align:center">{{ landings_1m}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
         </tr>
      </tbody>
   </table>
</div>
</div>

<div class="span9 offset0">
   <p class="lead">PAST 3 MONTHS</p>
   <div class="pagination-centered">
   <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">Landings</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ flight_time_3m }}</td>
            <td style="text-align:center">{{ landings_3m}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
         </tr>
      </tbody>
   </table>
</div>
</div>

<div class="span9 offset0  ">
   <p class="lead">PAST YEAR</p>
   <div class="pagination-centered">
   <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">Landings</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ flight_time_1y }}</td>
            <td style="text-align:center">{{ landings_1y}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
         </tr>
      </tbody>
   </table>
</div>
   </div>

<div class="span9 offset0">
   <p class="lead">TOTAL</p>
   <div class="pagination-centered">
   <table class="table table-striped table-condensed table-hover">
      <thead>
         <tr>
            <th style="text-align:center">Flight time</th>
            <th style="text-align:center">Landings</th>
            <th style="text-align:center">PIC</th>
            <th style="text-align:center">Dual</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td style="text-align:center">{{ tot_flight_time }}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
            <td style="text-align:center">{{ tot_landings}}</td>
         </tr>
      </tbody>
   </table>
</div>
   </div>

</div>
{% endblock content%}
